@import 'mapbox-gl/dist/mapbox-gl.css' layer(base);
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css' layer(base);
@import "tailwindcss";

@config "../../tailwind.config.ts";
@plugin './hero';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));


:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100%;
  margin: 0;
  padding: 0;
}
